<!DOCTYPE html>
<html>
<head>
  <title>System info report</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css"> @import url(css/bootstrap.min.css?v=1.0.1);</style>
  <style type="text/css"> @import url(css/main.css?v=1.0.1);</style>
</head>
<body>
  <div id="title1">
    <h1>System info report for &quot;{{inventory_hostname}}&quot;</h1>
  </div>
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1">NXOS Version</th>
                  <th class="cell100 column2">Serial Number</th>
                  <th class="cell100 column3">Model</th>
                  <th class="cell100 column4">Total Memory [MB]</th>
                  <th class="cell100 column5">Free Memory [MB]</th>
                  <th class="cell100 column6">System Image</th>
                  <th class="cell100 column7">Hostname</th>
                  <th class="cell100 column8">Modules</th>
				  <th class="cell100 column9">Power Supply</th>
                </tr>
              </thead>
            </table>
          </div>
            
          <div class="table100-body js-pscroll">
            <table>
              <tbody>
			  {% for switch in groups['nexus_switch'] %}
                  <tr class="row100 body">
				    <td class="cell100 column1">{{hostvars[switch].hostname}}</td>
                    <td class="cell100 column2">{{hostvars[switch].ansible_net_version}}</td>
                    <td class="cell100 column3">{{hostvars[switch].ansible_net_serialnum}}</td>
                    <td class="cell100 column4">{{hostvars[switch].ansible_net_model}}</td>
                    <td class="cell100 column5">{{hostvars[switch].ansible_net_memtotal_mb}}</td>
                    <td class="cell100 column6">{{hostvars[switch].ansible_net_memfree_mb}}</td>
                    <td class="cell100 column7">{{hostvars[switch].ansible_net_image}}</td>
                    <td class="cell100 column8">
					{% for mod in hostvars[switch].module %}
					<b>Model:</b> {{mod.model}}<br><b>Type:</b> {{mod.type}}<br><b>Status:</b> {{mod.status}}<br><b>Ports:</b> {{mod.ports}}<br>
					{%endfor%}
					</td>
                    <td class="cell100 column9">
					{% for psu in hostvars[switch].power_supply_info %}
					<b>Model:</b> {{psu.model}}<br><b>Status:</b> {{psu.status}}<br><b>Number:</b> {{psu.number}}<br>{# <b>Current:</b> {{psu.amps}}<br> #}<b>Power:</b> {{psu.watts}}<br>
					{%endfor%}
					</td>
                  </tr>
			 {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
{#         <div id="title2">
          <h1>Module info report for &quot;{{inventory_hostname}}&quot;</h1>
        </div>
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1">Model</th>
                  <th class="cell100 column2">Ports</th>
                  <th class="cell100 column3">Status</th>
                  <th class="cell100 column4">Type</th>
                </tr>
              </thead>
            </table>
          </div>         
          <div class="table100-body js-pscroll">
            <table>
              <tbody>
                {% for mod in module %}
                  <tr class="row100 body">
                    <td class="cell100 column1">{{mod.model}}</td>
                    <td class="cell100 column2">{{mod.ports}}</td>
                    <td class="cell100 column3">{{mod.status}}</td>
                    <td class="cell100 column4">{{mod.type}}</td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
          </div> #}
        </div>
	  </div>
    </div>
  </div>
  <div id="footer">
  </div>
</body>
</html>