!
!
{% if vrf_state is defined %}
{% if ( vrf_state == "create" or vrf_state == "modify" ) %}
{% if vrf_name != "default" %}
vrf context {{ vrf_name }}
  vni {{ l3vni_id }}
  ip pim ssm range {{ pim_global_params.ssm_multicast_group }}
  rd {{vrf_rd}}
  address-family ipv4 unicast
    route-target both {{ vrf_rt }}
    route-target both {{ vrf_rt }} evpn
!
router bgp {{ bgp_global_params.local_as | int }}
  vrf {{ vrf_name }}
    address-family ipv4 unicast
      advertise l2vpn evpn
{% if "border-leaf" in role_names %}
      redistribute ospf overlay route-map to-leaves
{% endif %}
!
vlan {{ l3vlan_id }}
 name l3-{{ vrf_name}}
 vn-segment {{l3vni_id}}
!
interface Vlan{{ l3vlan_id }}
  description l3-{{ vrf_name }}
  no shutdown
  mtu {{ phyif_global_params.mtu | int }}
  vrf member {{ vrf_name }}
  no ip redirects
  ip forward
  no ipv6 redirects
!
interface nve1
  member vni {{ l3vni_id }} associate-vrf
{% endif %}
{% elif vrf_state == "delete" %}
!
interface nve1
  no member vni {{ l3vni_id }} associate-vrf
!
no interface Vlan{{ l3vlan_id }}
!
no vlan {{ l3vlan_id }}
!
router bgp {{ bgp_global_params.local_as | int }}
  no vrf {{ vrf_name }}
!
no vrf context {{ vrf_name }}
!
{% else %}
{% endif %}
{% endif %}
{% if vlan_state is defined %}
{% if ( vlan_state == "create" or vlan_state == "modify" ) %}
vlan {{ vlan_id | int }}
  name {{ vlan_name }}
  {% if private_vlan_type is defined %}
  private-vlan {{private_vlan_type}}
  {% if private_vlan_type == "primary" %}
  private-vlan association {{private_vlan_association}}
  {% endif %}
  {% endif %}
  vn-segment {{ vlan_id | int + 10000}}
!
{%if vrf_id is defined and vlan_ipaddr is defined and vlan_ipaddr | length and vlan_ipaddr | ipaddr %}
interface Vlan{{ vlan_id | int }}
  description {{ vlan_descr }}
  no shutdown
  {% if private_vlan_type is defined %}
  {% if private_vlan_type == "primary" %}
  private-vlan mapping {{private_vlan_association}}
  {% endif %}
  {% endif %}
  mtu {{ vlanif_global_params.mtu | int }}
  vrf member {{ vrf_name }}
  ip address {{ vlan_ipaddr | ipaddr }}
  fabric forwarding mode anycast-gateway
!
{% endif %}
!
interface nve1
  member vni {{ vlan_id | int + 10000 }}
    suppress-arp
{%if vrf_id is defined and vlan_ipaddr is defined and vlan_ipaddr | length and vlan_ipaddr | ipaddr %}
    mcast-group 239.1.0.{{ vrf_id }}
{% else %}
    mcast-group 239.1.0.0
{% endif %}
!
evpn
 vni {{ vlan_id | int + 10000 }} l2
    rd {{ generic_params.id }}:{{ vlan_id | int + 10000 }}
    route-target import 1:{{ vlan_id | int + 10000 }}
    route-target export 1:{{ vlan_id | int + 10000 }}
!
{% elif vlan_state == "delete" %}
no vlan {{ vlan_id | int }}
!
{% if vlan_ipaddr is defined and vlan_ipaddr | length %}
no interface vlan {{ vlan_id | int }}
!
{% endif %}
!
interface nve1
  no member vni {{ vlan_id | int + 10000 }}
!
evpn
 no vni {{ vlan_id | int + 10000 }} l2
!
{% else %}
{% endif %}
{% endif %}
!
{% if if_num is defined%}
{% if inventory_hostname == device_name %}
interface Ethernet {{ if_module }}/{{ if_num }}
{% if tr_vlan_state is not defined %}
{% if if_descr is defined and if_descr | length %}
  description {{ if_descr }}
{% endif %}
  mtu {{ phyif_global_params.mtu | int }}
  switchport
  spanning-tree port type edge
  spanning-tree bpduguard enable
  spanning-tree guard root
{% if if_mode == "trunk" %}
  switchport mode trunk
  switchport trunk allowed vlan {{vlan_list}}
{% elif if_mode == "access" %}
  switchport mode access
  switchport access vlan {{vlan_list}}  
{% endif %}
  no shutdown  
{% elif tr_vlan_state == "add" %}
  switchport trunk allowed vlan add {{tr_vlan_id}}
{% elif tr_vlan_state == "remove" %}
  switchport trunk allowed vlan remove {{tr_vlan_id}}
{% endif %}
{% endif %}
{% endif %}