!
fabric forwarding anycast-gateway-mac {{ generic_global_params.anycast_gateway_mac }}
!
!
interface nve1
  description overlay
  no shutdown
  host-reachability protocol bgp
  source-interface loopback0