!
!
{% if vrf_state is defined %}
{% if ( vrf_state == "create" or vrf_state == "modify" ) %}
{% if vrf_name != "default" %}
vrf context {{ vrf_name }}
  description {{ vrf_descr }}
  vni {{ l3vni_id }}
  ip pim ssm range {{ pim_global_params.ssm_multicast_group }}
  rd {{vrf_rd}}
  address-family ipv4 unicast
    route-target both {{ vrf_rt }}
    route-target both {{ vrf_rt }} evpn
!
router bgp {{ bgp_global_params.local_as | int }}
  vrf {{ vrf_name }}
    address-family ipv4 unicast
      advertise l2vpn evpn
{% if "border-leaf" in role_names %}
      redistribute ospf overlay route-map to-leaves
{% endif %}
!
vlan {{ l3vlan_id }}
 name l3-{{ vrf_name}}
 vn-segment {{l3vni_id}}
!
interface Vlan{{ l3vlan_id }}
  description l3-{{ vrf_name }}
  no shutdown
  mtu {{ phyif_global_params.mtu | int }}
  vrf member {{ vrf_name }}
  no ip redirects
  ip forward
  no ipv6 redirects
!
interface nve1
  member vni {{ l3vni_id }} associate-vrf
{% endif %}
{% elif vrf_state == "delete" %}
!
interface nve1
  no member vni {{ l3vni_id }} associate-vrf
!
no interface Vlan{{ l3vlan_id }}
!
no vlan {{ l3vlan_id }}
!
router bgp {{ bgp_global_params.local_as | int }}
  no vrf {{ vrf_name }}
!
no vrf context {{ vrf_name }}
!
{% else %}
{% endif %}
{% endif %}