!
!
{% if vlan_state is defined %}
{% if ( vlan_state == "create" or vlan_state == "modify" ) %}

!
{%if vrf_id is defined and vlan_ipaddr is defined and vlan_ipaddr | length and vlan_ipaddr | ipaddr %}
interface Vlan{{ vlan_id | int }}
  description {{ vlan_descr }}
  no shutdown
  {% if private_vlan_type is defined %}
  {% if private_vlan_type == "primary" %}
  private-vlan mapping {{private_vlan_association}}
  {% endif %}
  {% endif %}
  mtu {{ vlanif_global_params.mtu | int }}
  vrf member {{ vrf_name }}
  ip address {{ vlan_ipaddr | ipaddr }}
  fabric forwarding mode anycast-gateway
!
{% endif %}
!
{% elif vlan_state == "delete" %}
{% if vlan_ipaddr is defined and vlan_ipaddr | length %}
no interface vlan {{ vlan_id | int }}
!
{% endif %}
{% else %}
{% endif %}
{% endif %}
!