!
!
{% if vlan_state is defined %}
{% if ( vlan_state == "create" or vlan_state == "modify" ) %}
vlan {{ vlan_id | int }}
  name {{ vlan_name }}
  {% if private_vlan_type is defined %}
  private-vlan {{private_vlan_type}}
  {% if private_vlan_type == "primary" %}
  private-vlan association {{private_vlan_association}}
  {% endif %}
  {% endif %}
  vn-segment {{ vlan_id | int + 10000}}
!
!
interface nve1
  member vni {{ vlan_id | int + 10000 }}
    suppress-arp
{%if vrf_id is defined and vlan_ipaddr is defined and vlan_ipaddr | length and vlan_ipaddr | ipaddr %}
    mcast-group 239.1.0.{{ vrf_id }}
{% else %}
    mcast-group 239.1.0.0
{% endif %}
!
evpn
 vni {{ vlan_id | int + 10000 }} l2
    rd {{ generic_params.id }}:{{ vlan_id | int + 10000 }}
    route-target import 1:{{ vlan_id | int + 10000 }}
    route-target export 1:{{ vlan_id | int + 10000 }}
!
{% elif vlan_state == "delete" %}
no vlan {{ vlan_id | int }}
!
!
interface nve1
  no member vni {{ vlan_id | int + 10000 }}
!
evpn
 no vni {{ vlan_id | int + 10000 }} l2
!
{% else %}
{% endif %}
{% endif %}
!