!
!
{% if vlan_state is defined %}
{% if ( vlan_state == "create" or vlan_state == "modify" ) %}
vlan {{ vlan_id | int }}
  name {{ vlan_name }}
{% if private_vlan_type is defined %}
  private-vlan {{private_vlan_type}}
{% if private_vlan_type == "primary" %}
  private-vlan association {{private_vlan_association}}
{% endif %}
{% endif %}
  vn-segment {{ vni_id}}
!
!
interface nve1
  member vni {{ vni_id }}
    suppress-arp
{%if vrf_id is defined%}
    mcast-group 239.1.0.{{ vrf_id }}
{% else %}
    mcast-group 239.1.0.0
{% endif %}
!
evpn
 vni {{ vni_id }} l2
    rd {{ vni_rd_top }}:{{ vni_id }}
    route-target import 1:{{ vni_id }}
    route-target export 1:{{ vni_id }}
!
{% elif vlan_state == "delete" %}
no vlan {{ vlan_id | int }}
!
!
interface nve1
  no member vni {{ vni_id }}
!
evpn
 no vni {{ vni_id }} l2
!
{% else %}
{% endif %}
{% endif %}
!