!
hostname {{ generic_global_params.hostname }}
!
{% for item in global_features %}
feature {{ item.name }}
{% endfor %}
!
no feature telnet
!
cfs eth distribute
nv overlay evpn
!
!hardware access-list tcam region racl {{ generic_global_params.tcam_racl_size | int }}
!hardware access-list tcam region copp {{ generic_global_params.tcam_copp_size | int }}
hardware access-list tcam region ifacl {{ generic_global_params.tcam_acl_size | int }}
hardware access-list tcam region arp-ether {{ generic_global_params.tcam_arp_size | int }} double-wide
hardware access-list tcam region span {{ generic_global_params.tcam_span_size | int }}
!
power redundancy-mode combined force
!
no password strength-check
!
no ip domain-lookup
!
spanning-tree mode mst
no system default switchport
!
errdisable recovery cause link-flap
errdisable recovery cause udld
errdisable recovery cause loopback
!
ip access-list VPN-MGMT-ADDR
{% for section in mng_acl %}
 remark {{section.name}}
{% for subnet in section %}
 permit tcp {{subnet.net}} {{subnet.subnet}} any eq 22 
{% endfor %}
{% endfor %}
!
{% if copp is defined and copp == "strict"%}
copp profile strict
{% endif %}
!
login on-success log 
!
udld aggressive
!
ip tcp path-mtu-discovery
!
cli alias name wr copy run start
cli alias name vxlanrt show bgp l2vpn evpn
cli alias name ipint show ip interf brief vrf all
cli alias name underlay show ip ospf underlay
cli alias name overlay show ip ospf overlay
!
line console
line vty
  session-limit 16
  exec-timeout 15
  logout-warning 20
{% if lab is not defined %}  
  access-class VPN-MGMT-ADDR in
{% endif %}
!
!