!
hostname {{ generic_global_params.hostname }}
!
{% for item in global_features %}
feature {{ item.name }}
{% endfor %}
!
no feature telnet
!
cfs eth distribute
nv overlay evpn
!
!hardware access-list tcam region racl {{ generic_global_params.tcam_racl_size | int }}
!hardware access-list tcam region copp {{ generic_global_params.tcam_copp_size | int }}
hardware access-list tcam region ifacl {{ generic_global_params.tcam_acl_size | int }}
hardware access-list tcam region arp-ether {{ generic_global_params.tcam_arp_size | int }} double-wide
hardware access-list tcam region span {{ generic_global_params.tcam_span_size | int }}
!
power redundancy-mode combined force
!
no password strength-check
!
no ip domain-lookup
!
spanning-tree mode mst
no system default switchport
!
errdisable recovery cause link-flap
errdisable recovery cause udld
errdisable recovery cause loopback
!
ip access-list VPN-MGMT-ADDR
 permit tcp 192.168.76.0 0.0.0.255 any eq 22 
 permit tcp 192.168.67.0 0.0.0.127 any eq 22 
 remark rete MNGMT server
 permit tcp 192.168.253.0 0.0.0.255 any eq 22 
 remark Insiel
 permit tcp 172.22.0.0 0.0.255.255 any eq 22 
 permit tcp 10.200.0.0 0.0.0.255 any eq 22 
 permit tcp 10.200.48.0 0.0.0.255 any eq 22 
 permit tcp 10.200.64.0 0.0.0.63 any eq 22 
 permit tcp 10.200.68.0 0.0.0.63 any eq 22 
 permit tcp 10.200.72.0 0.0.0.63 any eq 22 
 permit tcp 10.200.96.0 0.0.0.255 any eq 22 
 remark Servizi di rete
 permit tcp 10.0.252.0 0.0.0.255 any eq 22 
!
{% if copp is defined and copp == "strict"%}
copp profile strict
{% endif %}
!
login on-success log 
!
udld aggressive
!
ip tcp path-mtu-discovery
!
cli alias name wr copy run start
cli alias name vxlanrt show bgp l2vpn evpn
cli alias name ipint show ip interf brief vrf all
cli alias name underlay show ip ospf underlay
cli alias name overlay show ip ospf overlay
!
line console
line vty
  session-limit 16
  exec-timeout 15
  logout-warning 20
  access-class VPN-MGMT-ADDR in
!
!