!
vrf context {{ mng_params.vrf }}
  ip route 0.0.0.0/0 {{ mng_params.default_gw }}
!
interface {{ mng_params.ifname }}
  vrf member {{ mng_params.vrf }}
  ip address {{ mng_params.ipaddr | ipv4 }}/{{ mng_params.ipsubnet | ipv4 }}
!