<!DOCTYPE html>
<html>
<head>
  <title>Ethernet interface list report</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css"> @import url(css/bootstrap.min.css?v=1.0.1);</style>
  <style type="text/css"> @import url(css/main.css?v=1.0.1);</style>
</head>
<body>
  <div id="title">
    <h1>Ethernet interface list report for &quot;{{inventory_hostname}}&quot;</h1>
  </div>
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1">Interface Name</th>
                  <th class="cell100 column2">State</th>
                  <th class="cell100 column3">Mode</th>
                  <th class="cell100 column4">MTU</th>
                  <th class="cell100 column5">Speed</th>
                  <th class="cell100 column6">Duplex</th>
                </tr>
              </thead>
            </table>
          </div>
            
          <div class="table100-body js-pscroll">
            <table>
              <tbody>
                {% for iface in ansible_net_interfaces | sort %}				
                  <tr class="row100 body">
                    <td class="cell100 column1">{{iface}}</td>
                    <td class="cell100 column2">{{ansible_net_interfaces[iface]['state']}}</td>
					<td class="cell100 column3">{{ansible_net_interfaces[iface]['mode']}}</td>
					<td class="cell100 column4">{{ansible_net_interfaces[iface]['mtu']}}</td>
					<td class="cell100 column5">{{ansible_net_interfaces[iface]['speed']}}</td>
					<td class="cell100 column6">{{ansible_net_interfaces[iface]['duplex']}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
  </div>
</body>
</html>