!
ip pim rp-address {{ generic_global_params.loopback_net | ipaddr('net') | ipaddr(pim_global_params.rp_id*3+2) | ipaddr('address')  | ipv4 }} group-list {{ pim_global_params.rp_multicast_group }}
ip pim ssm range {{ pim_global_params.ssm_multicast_group }}
!
!
{% for interface in underlay.interfaces.phy %}
interface Ethernet {{ interface.name }}
  description {{ interface.description }}
  mtu {{ phyif_global_params.mtu | int }}
  ip address {{ interface.ipaddr | ipv4 }}
  ip ospf network point-to-point
  no ip ospf passive-interface
  ip router ospf underlay area {{ ospf_global_params.underlay_area }}
  ip pim sparse-mode
  no shutdown
!
{% endfor %}
!
{% if 'leaf' in group_names %}
interface loopback{{  underlay.interfaces.loopback[0].id | int }}
  ip address {{ underlay.interfaces.loopback[0].ipaddr | ipv4 }}
  ip router ospf underlay area {{ ospf_global_params.underlay_area }}
  ip pim sparse-mode
!
{% else %}
{% for interface in underlay.interfaces.loopback %}
interface loopback{{  interface.id | int }}
  ip address {{ interface.ipaddr | ipv4 }}
  ip router ospf underlay area {{ ospf_global_params.underlay_area }}
  ip pim sparse-mode
!
{% endfor %}
{%endif%}
!
router ospf underlay
  router-id {{underlay.interfaces.loopback[0].ipaddr | ipaddr('address') | ipv4}}
  passive-interface default
!